footer {
  width: 100%;
  background-color: #eeeeee;
  margin: auto;
  margin-top: 20px;
}

#footer-container {
  width: 85%;
  margin: auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 35px;
}

#footer-container a {
  text-decoration: none;
  color: #0a2409;
  display: block;
}

#footer-container a:hover {
  text-decoration: underline;
}

#footer-container h3 {
  margin: 10px 0px;
  color: #143314;
}

footer img {
  width: 90%;
  margin: auto;
}

footer hr {
  margin-top: 15px;
}

footer > div:nth-child(3) {
  display: flex;
  width: 90%;
  margin: auto;
  /* justify-content: center; */
  align-items: center;
}
footer > div:nth-child(3) > div:nth-child(3) {
  width: 20%;
}

footer > div:nth-child(3) > div img {
  width: 100%;
}
footer > div:nth-child(3) > div {
  margin: 0px 0px 0px 20px;
}
.footer-icons {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 20px;
  gap: 20px;
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon {
  background-color: #1e1d19;
}

.youtube-icon {
  background-color: #1e1d19;
}

.twitter-icon {
  background-color: #1e1d19;
}

.instagram-icon {
  background-color: #1e1d19;
}

.linkedin-icon {
  background-color: #1e1d19;
}

.pinterest-icon {
  background-color: #1e1d19;
}
