* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  background-image: url("https://assets.basspro.com/image/upload/c_scale,f_auto,q_auto,w_1920/v1677857264/DigitalCreative/2023/Campaigns/wk09-3-9/Homepage/BPS_Homepage_SFC_v2.png");
  background-size: cover;
}

.form-box {
  width: 400px;
  height: 480px;
  position: relative;
  background-color: #0b1825;
  padding: 5px;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 30px 9px #868efa11;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #ce8c0a;
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  text-align: center;
  font-size: xx-large;
}

.social-icons i {
  margin: 0px 15px;
  cursor: pointer;
}

.fa-facebook {
  color: #005eff;
}
.fa-twitter {
  color: #00aaff;
}

.fa-linkedin {
  color: #053992;
}
.social-icons i:hover {
  color: rgb(216, 223, 230);
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-group p {
  color: rgb(160, 159, 159);
  padding-top: 30px;
  text-align: center;
  font-size: small;
}

.input-group p a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 65%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 13%;
  background-color: #ce8c0a;
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}


/* Footer Line */
footer{
  font-size: small;
  text-align: center;
  margin-top: 1%;
}

footer a{
  text-decoration: none;
  color: #1056ce;
  font-weight: bold;
}